.header {
  color: #fff;
  background-color: #000;
  margin-bottom: 20px; }

.quiz-index, .quiz-content {
  box-shadow: 2px 2px 5px #ccc;
  padding: 20px;
  vertical-align: top;
  display: none; }

.quiz-content {
  min-height: 500px !important;
  margin-bottom: 20px; }

#questionCount, #passMark {
  font-size: 20px; }

#quiz-title {
  font-size: 22px;
  text-align: center; }

.link {
  background-color: #00b3b1;
  border: none;
  border-radius: 2px;
  color: #fff;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  outline: none; }

.link:disabled, .link:disabled:hover {
  opacity: 0.5; }

.link:hover {
  opacity: 0.9; }

#question-options {
  margin: 20px 0; }

.question-option {
  margin: 5px 0;
  background-color: #e3e3e3;
  padding: 10px;
  cursor: pointer; }

.question-option:hover {
  background-color: #eee; }

.question-option.selected {
  background-color: #333;
  color: #fff; }

.result-page #result-title {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px; }

#passOrFail {
  font-size: 18px;
  font-weight: 500; }

.pass {
  color: green; }

.fail {
  color: red; }

.quiz-index {
  text-align: center; }
  .quiz-index p {
    font-size: 20px; }

.quiz-index-button {
  margin: 0 auto;
  cursor: pointer;
  color: #999; }

.quiz-index-button.selected {
  color: #333; }

.quiz-index-button:hover {
  background-color: #eee; }

.result-message {
  margin-bottom: 20px; }

.question-result {
  border-bottom: 1px solid #ddd;
  margin-bottom: 15px; }

.question-result-index {
  color: #bbb; }

#result-mark-container {
  width: 100px;
  height: 100px;
  background-color: #00b3b1;
  border-radius: 50%;
  color: #fff;
  font-size: 36px;
  padding: 24px 0 0 0;
  text-align: center;
  margin: auto; }
