<div class="question-page">
	<div><span id="quiz-title"></span> - Question <span id="current-question-index"></span> of <span id="total-question-number"></span></div>
	<div id="question-text"></div>
	<div id="question-options"></div>
	<button class="link" disabled>Submit</button>
</div>