<div class="question-result">
	<div class="question-result-index">Question <span class="question-number"></span></div>
	<div class="question-text"></div>
	<div class="your-answer-container">
		<strong>You Answered:</strong>
		<div class="your-answer"></div>
	</div>
	<div class="correct-answer-container d-none">
		<strong>Correct Answer:</strong>
		<div class="correct-answer"></div>
	</div>
	<img class="answer-label" />
</div>