<div class="result-page">
	<div id="result-title"><span id="quiz-title"></span> - Results</div>
	<div class="row">
		<div class="col-sm-12 col-md-3">
			<div id="result-mark-container"><span id="result-mark"></span>%</div>
		</div>
		<div id="result-detail" class="col-sm-12 col-md-9">
			<div class="result-message"><span id="passOrFail"></span> - <span id="result-message"></span></div>
		</div>
	</div>
</div>