<div class="welcome-page">
	<div id="quiz-title"></div>
	<div id="quiz-introduction"></div>
	<div id="quiz-introduction-2">There are <span id="questionCount"></span> questions in the quiz and you must obtain a passmark of <span id="passMark"></span>%.</div>
	<button class="link">Start</button>
</div>